extends layout.pug
include utils.pug
block content
    +validationErrorSummary(errors)
    form(action="/lists", method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        label List Name:
        input(type="text", name="name")
        button(type="submit") Submit
    ul
        each list in lists
            div(id=`list-container-${list.id}` class='div-container')
                    //- li(id=`${list.id}-name`)=list.name
                    a(href=`/lists/${list.id}/tasks`)=list.name
                    button(class='deleteLists-btn' id=`deleteLists-${list.id}`) Delete
                    button(class='edit-lists-btn' id=`edit-lists-${list.id}`) Edit
                    form(action="" class="edit-forms hidden" id=`edit-form-${list.id}`)
                        label List Name:
                        input(type="text", name="name" value=list.name id=`${list.id}-edit-name`)
                        button(id=`edit-submit-${list.id}`) Save Changes
                    //- +listTask(tasks)
