include utils.pug
mixin editField(task)
  div(class='edit-form' id=`div-form-${task.id}`)
    //- +validationErrorSummary(errors)
    form(class='hidden' id=`detail-form-${task.id}`)
      input(type='hidden' name='_csrf' value=csrfToken)
      +field('Content', 'content', task.content)
      label Due Date
      input(type='date', value=task.dueDate, name='dueDate')
      label Priority
      input(type='checkbox', name='priority')
      +field('Git Repo Link', 'gitRepoLink', task.gitRepoLink)
      +field('Location', 'location', task.location)
      select(name="listId")
        if (task.listId === null)
          option(value='noList' selected) No List
        else
          option(value='noList') No List
        each list in lists
          if (task.listId === list.id)
            option(value=list.id selected)= list.name
          else
            option(value=list.id)= list.name
      button(type='submit' class='close-btn btn' id=`task-close-${task.id}`) Close
      button(class='delete-btn btn' id=`task-delete-${task.id}`) Delete Task
