extends layout.pug

include utils.pug
include task-detail.pug
block content
  form(id='search')
    input(type='search' placeholder='Find a task...' name='name' class='searchbar')
    button(type='submit' class='searchbarBtn') Search
    div
      ul
        if (tasks)
          each task in tasks
            div
                li(class=`task hidden`)= task.content
  div(class='top-display')
    div(class='first-box')
      +validationErrorSummary(errors)
      div(class='create-task')
        include task-create-form
  div(class='main-display')
    div(class='second-box box')
      p(class='column-titles') My Lists:
      ul
        each list in lists
          div(class='list-item')
            li(class='lists' id=`list-${list.id}`)= list.name
    div(class='third-box box')
        p(class='column-titles' id='task-title') To Do:
        div(class='display-tasks')
        ul(id='all-task-list')
          each task in tasks
            div(id=`list-item-${task.id}` class='task-item')
              div
                li(class='tasks' id=`task-${task.id}`)= task.content
              div(class='done-check')
                label(class='done-label') done?
                if (task.completed === true)
                  input(type='checkbox' name='completed' class='task-checkbox' id=`checkbox-${task.id}` checked)
                else
                  input(type='checkbox' name='completed' class='task-checkbox' id=`checkbox-${task.id}`)
            +editField(task)
    div(class='fourth-box box')
      p(class='column-titles')
