extends layout.pug

include utils.pug
include task-detail.pug
block content
    div
        +validationErrorSummary(errors)
        form(action="/tasks" method="post")
            input(type='hidden' name='_csrf' value=csrfToken)
            +field('Content', 'content', task.content)
            label Due Date
            input(type='date', value=task.dueDate, name='dueDate')
            label Priority
            input(type='checkbox' name='priority')
            +field('Git Repo Link', 'gitRepoLink', task.gitRepoLink)
            +field('Location', 'location', task.location)
            select(name="listId")
              option(value='noList') No List
              each list in lists
                  option(value=list.id) #{list.name}
            button(type='submit') Add Task
        ul
            each task in tasks
              div(id=`list-item-${task.id}` class='list-item')
                label Completed
                input(type='checkbox' name='completed')
                li(class='tasks' id=`task-${task.id}`)= task.content
                +editField(task)
                  //- button(class='detail-btn btn' id=`task-detail-${task.id}`) Detail